body {
    width: 100%;
    display: flex;
    align-itmes: center;
    justify-content: center;
}

#calc {
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    width: 90%;
    border-radius: 10px;
    border: 2px solid black;
    height: 8%;
    margin-top: 15px;
    text-align: right;
    font-size: 2em;
    background-color: black;
    color: green;
}

#buttons {
    margin: auto;
    width: 90%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: calc(100% * (1/4) - 10px - 1px);
    height: 15%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: beige;
    font-size: 1.5em;
    box-shadow: 0 0 3px black;
}

.button:hover {
    box-shadow: none;
}

.button:nth-child(1) {
    width: 48%;
    margin-right: 8px;
}

.button:nth-child(2) {
    margin-right: 5px;
}

.button:nth-child(15) {
    height: 33%;
    margin-top: -1%;
}

.button:nth-child(12) {
    align-self: flex-start;
    margin-top: 5px;
}

.button:nth-child(13) {
    align-self: flex-start;
    margin-top: 5px;
}

.button:nth-child(14) {
    align-self: flex-start;
    margin-top: 5px;
}

.button:nth-child(16) {
    margin-top: -27%;
    flex-grow: 2;
    margin-right: 9px;
}

.button:nth-child(17) {
    margin-top: -27%;
    margin-right: 25.5%;
}

#copyright {
    color: beige;
    margin-bottom: 5px;
    text-shadow: 1px 2px black;
}